<main class="form-signin w-100 m-auto">
  <form [formGroup]="register_form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingfname"
        placeholder="Your First Name"
        formControlName="first_name"
      />
      <label for="floatingfname">First Name</label>
    </div>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatinglname"
        placeholder="Your Last Name"
        formControlName="last_name"
      />
      <label for="floatinglname">Last name</label>
    </div>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPasswordC"
        placeholder="Confirm Password"
        formControlName="password_confirm"
      />
      <label for="floatingPasswordC">Confirm Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
  </form>
</main>
